html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main {
  margin-top: 10px;
  height: 60% !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

#testInput:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

#testInput {
  height: 300px;
}

#expressionContainer div {
  float: left;
  display: inline;
}

#selectContainer,
#getPatternBtn {
  margin-top: 33px;
}

#getPatternBtn {
  /* margin-left: 2px; */
  padding-left: 5px;
}

#selectContainer select {
  width: 130px;
  height: 36px;
  margin-left: 5px;
}

#formContainer {
  border-radius: 5px;
  padding: 5px;
}

#savedRegex {
  display: block;
  margin-top: 15px;
}

#savedRegex p {
  width: 100%;
}

#savedRegex div,
#result .underline {
  width: 100%;
  height: 1px;
  background-color: black;
}

#result {
  margin-top: 20px;
}

#expressionDiv input,
#formContainer input,
#selectContainer select {
  border: none;
  border-bottom: 1px solid gray;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}

#spinner {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/ opacity */
}

#spinner div {
  position: relative;
  top: 40%;
  width: 5em;
  height: 5em;
}

.patternsDiv span {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.patternsDiv {
  float: left;
  justify-content: left;
  margin-bottom: 20px;
}

.modalBodyPattern {
  padding: 0px 1px 0px 3px !important;
}
