html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#main {
  margin-top: 10px;
  height: 60% !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

#testInput:focus {
  box-shadow: none;
  border: 1px solid #ced4da;
}

#testInput {
  height: 300px;
}

#expressionContainer div {
  float: left;
  display: inline;
}

#selectContainer {
  margin-top: 33px;
}

#selectContainer select {
  width: 130px;
  height: 36px;
  margin-left: 5px;
}

#formContainer {
  border-radius: 5px;
  padding: 5px;
}

#savedRegex {
  display: block;
  margin-top: 15px;
}

#savedRegex p {
  width: 100%;
}

#savedRegex div {
  width: 100%;
  height: 1px;
  background-color: black;
}

#expressionDiv input,
#formContainer input,
#selectContainer select {
  border: none;
  border-bottom: 1px solid gray;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}
