#authContainer a {
  text-decoration: none !important;
  color: #37474f;
}

#signupLink {
  padding-left: 5px;
}

#loginLink {
  padding-right: 6px;
}

#loginLink,
#signupLink {
  border-color: transparent;
  color: white;
  background-color: transparent;
}

#loginLink:focus,
#signupLink:focus {
  box-shadow: none;
  outline: none;
}

#separator {
  width: 1px;
  background-color: black;
  height: 25px;
  margin-top: 7px;
}
